.custom-step {
  .ant-steps-item {
    .ant-steps-item-container {
      .ant-steps-item-tail {
          &::after {
            background-color: transparent !important;
            background: none;
            border-style: dashed;
            border-width: 1px 0 0;
            border-color: rgb(148, 163, 184)
          }
        }
      .ant-steps-item-content {
        .ant-steps-item-title {
          text-wrap: nowrap;
          padding-top: 20px;
          font-weight: 500;
          font-size: 14px;
          color: #334155;
        }
      }
      }
    }
  }